/*
.grid-container {
  display: inline-grid;
  -ms-layout-grid: fixed;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  background-color: #474f55;
  padding: 10px;
  height: 800px;
  width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/

.Sudoku-page {
    margin-top: 2em;
    position: relative;
    table {
        border-collapse: collapse;
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
    }

    colgroup,
    tbody {
        border: solid medium;
    }

    td {
        border: solid thin;
        height: 2.4em;
        width: 2.4em;
        text-align: center;
        padding: 0;
    }

    input {
        border: solid thin;
        height: 2.4em;
        width: 2.4em;
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
    }

    button {
        padding: 1vh 2vw;
        font-size: 1.2rem;
        margin: 2rem;
    }

    .options {
        position: relative;
        text-align: center;
    }

    .Title {
        text-align: center;
        font-size: 3.125rem;
    }
}
/*
input {
    border: solid thin;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 2vw;
    padding: 0;
}*/